<h1>This is a page customized to add new words to the database</h1>

{{words.catchphrase}}

<form ng-submit="words.addWord(newWord)">
	<input type="text" ng-model="newWord.name">
	<input type="text" ng-model="newWord.description">
	<button>Save Word</button>
</form>



<h2>Hopefully showing words below here</h2>

<!-- {{words}} -->

<div ng-repeat="word in words.WordFactories">
	{{word.name}}
	<!-- Test of "word in words" as my ng-repeat: {{word}} and {{word.name}}, not quite right -->
	<!-- word in words.words gives nothing -->
	<!-- word in words.WordsCtrl gives nothing -->
</div>

